<!doctype html>
<html>
	<head>
	<title>Faculty Registration
		</title>
		{% load static %}
		<link rel="stylesheet"  href="{% static 'css/style1.css'%}">
		
		<style>

		</style>
	</head>
	<body class="menu">
		<div class="navbar">
			<ul>
				<li><a href=#>Home</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</div>
		<div class="side">
			<ul>
				<li><a href="{% url 'studentsprofile' %}">myprofile</a>
					
				</li>
				<li><a href="{% url 'studentmark' %}">academics</a>
				
				</li>
				<li><a href="{% url 'viewattendance' %}">attendance</a>
				
				</li>
				<li><a href=#>Time table</a></li>
				<li><a href="{% url 'stuleave' %}">Leave management</a></li>
				<li><a href="{% url 'logout'%}">Logout</a><li>

			</ul>
		</div>
		


			<div class="freg">
				<form action="{% url 'stuleavesubmit'%}" method="POST">
				{% csrf_token %}
				<table class="t">
						<tr><td>leave_id: </td><td><input type="text" class="frm" name="leave_id"></td></tr>
						<tr><td>name: </td><td><input type="text"  class="frm" name="name"></td></tr>
						<tr><td>from_date: </td><td><input type="date"  class="frm" name="from_date"></td></tr>
                        <tr><td>To_date: </td><td><input type="date" class="frm" name="To_date"></td></tr>
						<tr><td>reason: </td><td><input type="text" class="frm"  name="reason"></td></tr>
						<tr><td>status: </td><td><input type="text"  class="frm" name="status"></td></tr>
                        
				</table>
						<br><input type="submit" class="but1" value="Register"></input>
						<input type="submit" class="but2" value="Cancel"></input>
				
				</form>
				<form action="{% url 'submit'%}" method="POST">
					{% csrf_token %}
					{%if authors%}
					<table class="t">
					<th class="frm">student name</th>
					<th class="frm">reason</th>
					<th class="frm">from date</th>
					<th class="frm">To date</th>
					<th class="frm">status</th>
					{%for i in authors%}
					
					
						<tr><td  class="frm">{{i.name}}</td>
						<td class="frm">{{i.reason}}</td>
						<td class="frm">{{i.from_date}}</td>
						<td class="frm">{{i.To_date}}</td>
						<td class="frm">{{i.status}}</td>
					</tr>
						
					
					{%endfor %}
					{%endif %}
	
						
				    </table>
				
					
					</form>
			</div>
				
		</div>

		
		<div class="ft">
			<footer><p>&copy 2018-2019 Bombo ltd</p>
			</footer>
		</div>
	</body>
</html>